<!DOCTYPE html>
<html>
<head>
	<title>Notifik</title>
</head>
<body>
	<div>
		<input type="text" id="mail" placeholder="Email address">
		<button>Click here to subscribe!</button>
	</div>
</body>
<style type="text/css">
	html, body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	body {
		text-align: center;
	}

	div {
		padding-top: 50%;
		transform: translateY(-50%);
	}

	button {
		border: 1px solid rgba(0.2, 40, 40, 40);
		border-radius: 5px;
		background: #ABABAB;
	}

	button:hover {
		background: #949494;	
	}
</style>
<script type="text/javascript" src="/js/WebPushNotifications.js"></script>
<script type="text/javascript" src="/js/notifik.js"></script>
</html>
